@use "sass:math";

[data-page="about"] {
  background-color: lightblue;
  color: green;
}

#about-btn {
  background-color: green;
  color: white;
  padding: 20px;
  border-radius: 10px;

  &.active {
    background-color: red;
  }
}