@use "sass:math";
@use "../../styles/abstracts/functions" as *;
// @use "../../styles/abstracts/mixins" as *;

.header {
  background-color: lightgrey;
  padding-block: toRem(30);
  position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   transition: all 0.3s;

  &.hide {
      transform: translateY(-100%);
   }
}

ul {
  display: flex;
  font-size: 22px;
  align-items: center;
  gap: 50px;
}



.link {
  @include transition;

  @include hover {
    color: red;
  }

  &.is-active{
  color: yellow;
}
}