@use "sass:math";
@use "../../styles/abstracts/functions" as *;
@use "../../styles/abstracts/mixins" as *;

.header {
  background-color: lightgrey;
  padding-block: toRem(30);
}

ul {
  display: flex;
  font-size: 22px;
  align-items: center;
  gap: 50px;
}

li {
@include transition;

  @include hover {
    color: red;
  }
}